/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #554d56;
  overflow-x: hidden;
}

/* Helpers */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-4,
.col-3,
.col-md-6,
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  text-decoration: none;
  color: inherit;  
}

button.btn {
  background-color: transparent;
  color: inherit;
  border: 0;
  font-size: inherit;
}

form fieldset {
  border: 0;
}

/* Typography */

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Branding */

.brand-logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.btn-primary {
  background-color: #FF4E50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-long {
  width: 100%;
  display: inline-block;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

/* Spacers */

.sec-padding {
  padding-top: 30px;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

/* Header */

header {  
  min-height: 100vh;
}

.bg-hero {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100vh;
}

.btn-login {
  color: #fff;
  margin-right: 30px;
}

.btn-signup {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px 15px;
}

.hero-title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 52px;
  line-height: 1em;
}

.hero-sub {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 24.5px;
}

/* Mid Tags */

.sub-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;  
}

.mid-tags {
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
}

.mid-tags p {
  margin: 0;
}

.bg-step1 {
  background-image: url("../img/bg-step1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Mobile only */

@media (max-width: 767px) {
  /* Helpers */
  .hidden-xs {
    display: none;
  }
}

/* Tablet to desktop */

@media (min-width: 768px) {
  /* Helpers */
  
  .visible-xs {
    display: none;
  }
}

/* Desktop */

@media (min-width: 992px) {
  
}