/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1em;
  font-size: 18px;
  color: #554d56;
  overflow-x: hidden;
}

/* Helpers */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-4,
.col-3,
.col-8,
.col-md-6,
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  text-decoration: none;
  color: inherit;  
}

button.btn {
  background-color: transparent;
  color: inherit;
  border: 0;
  font-size: inherit;
}

form fieldset {
  border: 0;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1em;
}

h3 {
  font-size: 24px;
  font-weight: bold; 
  margin: 1em 0;
  line-height: 1.2em;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Branding */

.brand-logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

button.btn-primary,
.btn-primary {
  background-color: #FF4E50;
  border: 2px solid #FF4E50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #FF4E50;
  color: #FF4E50;
  cursor: pointer;
}

.btn-secondary {
  background-color: #fff;
  border: 2px solid #FF4E50;
  color: #FF4E50;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.btn-secondary:hover {
  background-color: #FF4E50;
  border: 2px solid #fff;
  color: #fff;
}

.btn-long {
  width: 100%;
  display: inline-block;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

/* Spacers */

.sec-padding {
  padding-top: 30px;
}

.sm-bottom {
  margin-bottom: 15px;
}

/* Header */

header {  
  min-height: 100vh;
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-orient: vertical;  
  -webkit-box-direction: normal;  
  -ms-flex-direction: column;  
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
}

.top-header {
  -webkit-box-flex:0;
  -ms-flex-positive:0;
  flex-grow:0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.top-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-tag {
  margin-right: auto;
  margin-left: auto;
}

.bg-hero {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  min-height: 100vh;
}

.btn-login {
  color: #fff;
  margin-right: 30px;
}

.btn-login:hover {
  text-decoration: underline;
}

.btn-signup {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px 15px;
  transition: background-color 0.5s ease;
}

.btn-signup:hover {
  color: #666;
  border: 2px solid #fff;
  background-color: #fff;
}

.hero-title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 52px;
  line-height: 1em;
  margin-bottom: 15px;
}

.hero-sub {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 24.5px;
}

/* Mid Tags */

.sub-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.3em;
  line-height: 1.3em;
}

.mid-tags {
  overflow: hidden;
  padding: 30px 15px;
  border-radius: 5px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-orient: vertical;  
  -webkit-box-direction: normal;  
  -ms-flex-direction: column;  
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mid-tags p {
  margin: 0;
}

.tag-wrapper {
  position: relative;
  margin-top: auto;
}

.grad-overlay {
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  z-index: 0;
  border-radius: 5px;
  top: 0;
  left: 15px;
  
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0.5+70,1+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(77,77,77,0.5) 70%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(77,77,77,0.5) 70%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(77,77,77,0.5) 70%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.bg-step3,
.bg-step2,
.bg-step1 {  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-step1 {
  background-image: url("../img/bg-step1.png");
}

.bg-step2 {
  background-image: url("../img/bg-step2.png");
}

.bg-step3 {
  background-image: url("../img/bg-step3.png");
}

/* Mid cards */

.mid-card {
  text-align: center;
  margin-bottom: 30px;  
}

.mid-card h4 {
  margin: 1em 0;
}

/* Activities */

.activity-card {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 140px;  
}

.overlay-card {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: calc(100% - 30px);
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}

.card {
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-orient: vertical;  
  -webkit-box-direction: normal;  
  -ms-flex-direction: column;  
  flex-direction: column;  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;  
}

.card h3 {
  margin: auto;
  z-index: 1;
}

.bg-traveling,
.bg-enjoyment,
.bg-culture,
.bg-games,
.bg-extreme,
.bg-wellness,
.bg-sports {  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

.bg-sports {
  background-image: url("../img/bg-sports.png");
}

.bg-wellness {
  background-image: url("../img/bg-wellness.png");
}

.bg-extreme {
  background-image: url("../img/bg-extreme.png");
}

.bg-games {
  background-image: url("../img/bg-games.png");
}

.bg-culture {
  background-image: url("../img/bg-culture.png");
}

.bg-enjoyment {
  background-image: url("../img/bg-enjoyment.png");
}

.bg-traveling {
  background-image: url("../img/bg-traveling.png");
}

/* Form */

.form-control {
  width: 100%;
  border: 1px solid #666;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Footer */

footer {
  padding-bottom: 50px;
}

footer .hr {
  border-top: 2px solid #FF4E50;
}

.footer-brand {
  text-align: center;  
}

.footer-logo {
  text-decoration: none;
  color: #FF4E50;
  text-transform: uppercase;  
}

.footer-title {
  text-align: center;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer nav ul li {
  margin-bottom: 15px;
}

footer nav ul li a {
  color: #554d56;
  text-decoration: none;
  padding: 0 15px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer .design-logo {
  text-align: center;
}

/* Mobile only */

@media (max-width: 767px) {
  /* Helpers */
  .hidden-xs {
    display: none;
  }
}

/* Tablet to desktop */

@media (min-width: 768px) {
  /* Helpers */
  
  .visible-xs {
    display: none;
  }
  
  .sec-padding {
    padding-top: 45px;
  }
  
  .btn-long {
    width: auto;
  }
  
  .col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
    
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  /* Header */
  
  header .brand {
    float: left;
  }
  
  header .btn-wrapper {
    float: right;
  }
  
  /* Midd tags */
  
  .mid-tags {
    height: 400px;
  }
  
  /* Midd cards */
  
  .mid-card {
    width: 75%;
  }

  .md-right .mid-card {
    float: right;
  }

  .mid-card p {
    font-size: 16px;
  } 

  /* Activity cards */

  .card,
  .activity-card {
    height: 300px;
    margin-bottom: 30px;
  }  
  
  .card h3 {
    width: 90%;
  }
  
  /* Form */
  
  .col-12.col-md-center {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: 0 auto;
  }
  
  form .form-control {
    width: calc(100% - 205px);
  }
  
  form button {
    margin-left: 15px;
  }
  
  /* Footer */
  
  footer .col-3 {
    padding-top: 45px;
  }
  
  footer .footer-title, 
  footer .footer-brand {
    margin-top: 0;
    text-align: left;
  }
  
  .design-logo {
    text-align: right;
  }
  
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  footer nav ul li a {
    padding: 0;
  }
  
}

/* Desktop */

@media (min-width: 992px) {
  .container {
    max-width: 1024px;
  }
  
  .col-12.col-md-center {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 auto;
  }
  
  .md-right .mid-card {
    float: none;
  }
  
  .mid-card {
    width: 100%;
  }
  
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Animations */

.ani-fade-top.active {
  -webkit-animation: fade-in-top 2s ease;
  animation: fade-in-top 2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


/* Fade in to top */

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
